html:root {
  font-size: 16px;
  --font-h2: 2rem;
  --font-hero-text: 1.4rem;

  --fs-h2: 1.8rem;
  --fs-hero-text: 1.3rem;

  --fxs-h2: 1.1rem;
  --fxs-hero-text: 1rem;

  --min-width: 192px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #edf0f1;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #1f2127;
}

.App {
    padding:  0 20px;
}

.wrapper{
  max-width: 1100px;
  min-width: var(--min-width);
  margin: auto;
  color: #fff;
}